#### 1. Dataframe basics

#### 1.1. Import pandas and reffered the package as pd + Load "telecom_churn.csv" and assign in to the variable df <span style= color:#0033cc>(3 points)</span>

In [3]:
pip install pandas

Requirement already satisfied: pandas in c:\users\user\appdata\local\programs\python\python311\lib\site-packages (2.2.1)
Requirement already satisfied: numpy<2,>=1.23.2 in c:\users\user\appdata\local\programs\python\python311\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\user\appdata\roaming\python\python311\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\user\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\user\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in c:\users\user\appdata\roaming\python\python311\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.2.1 -> 24.0
[notice] To update, run: python.exe -m pip install --upgrade pip

In [4]:
import pandas as pd

#### 1.2 Return the column labels/names <span style= color:#0033cc>(2 points)</span>

In [5]:
df = pd.read_csv("./telecom_churn.csv")
df.head(0)

Empty DataFrame
Columns: [State, Account length, Area code, International plan, Voice mail plan, Number vmail messages, Total day minutes, Total day calls, Total day charge, Total eve minutes, Total eve calls, Total eve charge, Total night minutes, Total night calls, Total night charge, Total intl minutes, Total intl calls, Total intl charge, Customer service calls, Churn]
Index: []

#### 1.3 Print the df shape <span style= color:#0033cc>(3 points)</span>

In [6]:
df.shape

(3333, 20)

#### 2. What is the total day calls given by state and area code?

#### 2.1 Group the df by state and area code (assign it to grouped variable). <span style= color:#0033cc>(5 points)</span>

In [7]:
grouped_data = df.groupby(['State','Area code'])
grouped_data

#### 2.2 Use agg with the desired function sum to get the final answer (assign it to telecom_agg variable).<span style= color:#0033cc>(5 points)</span>

In [8]:
telecom_agg=grouped_data.agg('sum')
telecom_agg=telecom_agg["Total day calls"]
telecom_agg

State  Area code
AK     408          1342
       415          2357
       510          1255
AL     408          2524
       415          4090
                    ...
WV     415          5474
       510          3491
WY     408          1659
       415          4205
       510          2007
Name: Total day calls, Length: 153, dtype: int64

#### 2.3 Reset the group by index <span style= color:#0033cc>(3 points)</span>

In [9]:
telecom_agg=telecom_agg.reset_index()
telecom_agg

    State  Area code  Total day calls
0      AK        408             1342
1      AK        415             2357
2      AK        510             1255
3      AL        408             2524
4      AL        415             4090
..    ...        ...              ...
148    WV        415             5474
149    WV        510             3491
150    WY        408             1659
151    WY        415             4205
152    WY        510             2007

[153 rows x 3 columns]

#### 2.4 Use head function to review the first 10 telecom_agg rows <span style= color:#0033cc>(3 points)</span>

In [10]:
telecom_agg.head(10)

  State  Area code  Total day calls
0    AK        408             1342
1    AK        415             2357
2    AK        510             1255
3    AL        408             2524
4    AL        415             4090
5    AL        510             1314
6    AR        408             1382
7    AR        415             2756
8    AR        510             1480
9    AZ        408             1452

#### 3. Users Churn rate

#### 3.1 Change "Churn" column type to an integer: <span style= color:#0033cc>(3 points)</span>

In [11]:
df["Churn"]=df["Churn"].astype(int)
df

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
0,KS,128,415,No,Yes,25,265.1,110,45.07,197.4,99,16.78,244.7,91,11.01,10.0,3,2.70,1,0
1,OH,107,415,No,Yes,26,161.6,123,27.47,195.5,103,16.62,254.4,103,11.45,13.7,3,3.70,1,0
2,NJ,137,415,No,No,0,243.4,114,41.38,121.2,110,10.30,162.6,104,7.32,12.2,5,3.29,0,0
3,OH,84,408,Yes,No,0,299.4,71,50.90,61.9,88,5.26,196.9,89,8.86,6.6,7,1.78,2,0
4,OK,75,415,Yes,No,0,166.7,113,28.34,148.3,122,12.61,186.9,121,8.41,10.1,3,2.73,3,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3328,AZ,192,415,No,Yes,36,156.2,77,26.55,215.5,126,18.32,279.1,83,12.56,9.9,6,2.67,2,0
3329,WV,68,415,No,No,0,231.1,57,39.29,153.4,55,13.04,191.3,123,8.61,9.6,4,2.59,3,0
3330,RI,28,510,No,No,0,180.8,109,30.74,288.8,58,24.55,191.9,91,8.64,14.1,6,3.81,2,0
3331,CT,184,510,Yes,No,0,213.8,105,36.35,159.6,84,13.57,139.2,137,6.26,5.0,10,1.35,2,0
3332,TN,74,415,No,Yes,25,234.4,113,39.85,265.9,82,22.60,241.4,77,10.86,13.7,4,3.70,0,0

#### 3.2 what is the users "churn rate" in our dataframe? <span style= color:#0033cc>(5 points)</span>
Hint: the churn rate formula can be calculated as the "number of churned" divided by the "total number of customers".

In [12]:
churn_rate = df['Churn'].sum() / df[df.columns[0]].count()
churn_rate

0.14491449144914492

#### 3.3  How the charn rate can affect on the company? <span style= color:#0033cc>(3 points)</span>

In [13]:
newdf = pd.DataFrame({'current custumers number' : [ df[df.columns[0]].count()], 'next year custumers number':[ df[df.columns[0]].count()*churn_rate]})
newdf

   current custumers number  next year custumers number
0                      3333                       483.0

#### 3.4 How much time (on average) do churned users spend on the phone during daytime? <span style= color:#0033cc>(5 points)</span>
Hint: filter churn column when the value of churn equal to 1

In [14]:
currentcustumers=df[df['Churn']>0]
currentcustumers['Total day minutes'].mean()

206.91407867494823

#### 3.5 What is the maximum length of international calls among loyal users who do not have an international plan? ('International plan' == 'No') <span style= color:#0033cc>(5 points)</span>
Hint: 2 filters conditions,churn equal to 0 and international plan equal to no

In [15]:
currentcustumers[currentcustumers['International plan']=='No']['Total intl minutes'].max()

18.3

#### 4. Select top 3 international plan subscribers and non subscribers with the most intl calls

#### 4.1. Build a function top which attributes df, n (for the top n) and column. In this function use sort_values to sort the values in the column specified. <span style= color:#0033cc>(10 points)</span>
Note: Do not apply the function on the whole data frame (e.i. top(df, n=3)) as the output will be the top 3 regardless of subscribers and non-subscribers.

In [16]:
def top(df, n, column):
    return df.sort_values(by=column, ascending=False).head(n)
s= df[df['International plan'] == 'Yes']
top(s, 3, 'Total intl calls')

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
3291,MI,119,510,Yes,Yes,22,172.1,119,29.26,223.6,133,19.01,150.0,94,6.75,13.9,20,3.75,1,1
41,MD,135,408,Yes,Yes,41,173.1,85,29.43,203.9,107,17.33,122.2,78,5.50,14.6,15,3.94,0,1
957,NV,144,415,Yes,No,0,150.0,69,25.50,285.9,73,24.30,190.6,121,8.58,9.4,15,2.54,0,0

In [17]:
ns = df[df['International plan'] == 'No']
top(ns, 3, 'Total intl calls')

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
22,AZ,130,415,No,No,0,183.0,112,31.11,72.9,99,6.20,181.8,78,8.18,9.5,19,2.57,0,0
377,ND,79,408,No,No,0,205.7,123,34.97,214.5,108,18.23,226.1,106,10.17,6.7,18,1.81,1,0
982,ND,84,415,No,Yes,33,159.1,106,27.05,149.8,101,12.73,213.4,108,9.60,13.0,18,3.51,1,0

#### 4.2. Group the df dataframe by 'International plan' and use apply(top) to apply this function. <span style= color:#0033cc>(5 points)</span>

In [18]:
df.groupby('International plan').apply(top, n=3, column='Total intl minutes')

C:\Users\User\AppData\Local\Temp\ipykernel_37860\2416076797.py:1: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  df.groupby('International plan').apply(top, n=3, column='Total intl minutes')

                        State  Account length  Area code International plan  \
International plan
No                 314     ID             128        408                 No
                   1816    OR              53        415                 No
                   2816    ID             130        415                 No
Yes                115     ME              36        510                Yes
                   1420    MI              81        415                Yes
                   214     FL              70        510                Yes

                        Voice mail plan  Number vmail messages  \
International plan
No                 314               No                      0
                   1816              No                      0
                   2816              No                      0
Yes                115              Yes                     42
                   1420              No                      0
                   214               No                      0

                         Total day minutes  Total day calls  Total day charge  \
International plan
No                 314               125.2               99             21.28
                   1816              184.8               98             31.42
                   2816              263.7              113             44.83
Yes                115               196.8               89             33.46
                   1420              149.4               68             25.40
                   214               226.7               98             38.54

                         Total eve minutes  Total eve calls  Total eve charge  \
International plan
No                 314               205.4              107             17.46
                   1816              216.4              125             18.39
                   2816              186.5              103             15.85
Yes                115               254.9              122             21.67
                   1420              171.9               98             14.61
                   214               228.1              115             19.39

                         Total night minutes  Total night calls  \
International plan
No                 314                 254.4                111
                   1816                141.1                116
                   2816                195.3                 99
Yes                115                 138.3                126
                   1420                214.5                 97
                   214                  73.2                 93

                         Total night charge  Total intl minutes  \
International plan
No                 314                11.45                18.9
                   1816                6.35                18.4
                   2816                8.79                18.3
Yes                115                 6.22                20.0
                   1420                9.65                17.9
                   214                 3.29                17.6

                         Total intl calls  Total intl charge  \
International plan
No                 314                  2               5.10
                   1816                 3               4.97
                   2816                 6               4.94
Yes                115                  6               5.40
                   1420                 3               4.83
                   214                  4               4.75

                         Customer service calls  Churn
International plan
No                 314                        0      0
                   1816                       2      0
                   2816                       1      1
Yes                115                        0      1
                   1420                       3      1
                   214                        2      1

#### 5. pd.crosstab

#### 5.1 how the observations in our sample are normalized (divide each value by the sum of the values) in the context of two variables - Churn and Voice mail plan. To do so, build a contingency table using the crosstab method. <span style= color:#0033cc>(6 points)</span>
Hint: To normalize using all values, simply set normalize=True

In [19]:
pd.crosstab(df['Churn'], df['Voice mail plan'], normalize=True)

Voice mail plan        No       Yes
Churn
0                0.602460  0.252625
1                0.120912  0.024002

#### 5.2 What is the conclustion of most of users regarding voice mail usage? <span style= color:#0033cc>(4 points)</span>

לרוב מהאנשים שעזבו היה שימוש בדואר קולי ולאומת זאת לרוב אנשים המחוברים אין שימוש בדואר קולי

#### 6. Columns calculations

#### 6.1 Add a column name 'total_charge', and get the total charge by sum all the charge columns <span style= color:#0033cc>(7 points)</span>

In [20]:
df['total_charge'] = df['Total day charge'] + df['Total eve charge'] + df['Total night charge'] + df['Total intl charge']
df

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,...,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn,total_charge
0,KS,128,415,No,Yes,25,265.1,110,45.07,197.4,...,16.78,244.7,91,11.01,10.0,3,2.70,1,0,75.56
1,OH,107,415,No,Yes,26,161.6,123,27.47,195.5,...,16.62,254.4,103,11.45,13.7,3,3.70,1,0,59.24
2,NJ,137,415,No,No,0,243.4,114,41.38,121.2,...,10.30,162.6,104,7.32,12.2,5,3.29,0,0,62.29
3,OH,84,408,Yes,No,0,299.4,71,50.90,61.9,...,5.26,196.9,89,8.86,6.6,7,1.78,2,0,66.80
4,OK,75,415,Yes,No,0,166.7,113,28.34,148.3,...,12.61,186.9,121,8.41,10.1,3,2.73,3,0,52.09
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3328,AZ,192,415,No,Yes,36,156.2,77,26.55,215.5,...,18.32,279.1,83,12.56,9.9,6,2.67,2,0,60.10
3329,WV,68,415,No,No,0,231.1,57,39.29,153.4,...,13.04,191.3,123,8.61,9.6,4,2.59,3,0,63.53
3330,RI,28,510,No,No,0,180.8,109,30.74,288.8,...,24.55,191.9,91,8.64,14.1,6,3.81,2,0,67.74
3331,CT,184,510,Yes,No,0,213.8,105,36.35,159.6,...,13.57,139.2,137,6.26,5.0,10,1.35,2,0,57.53
3332,TN,74,415,No,Yes,25,234.4,113,39.85,265.9,...,22.60,241.4,77,10.86,13.7,4,3.70,0,0,77.01

####  6.2 Add a column name 'Day_charge_pct', and get day charge precentage of total charge by dividing the column 'Total day charge' by the column 'total_charge'. <span style= color:#0033cc>(7 points)</span>

In [21]:
df['Day_charge_pct'] = (df['Total day charge'] / df['total_charge']) * 100
df

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,...,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn,total_charge,Day_charge_pct
0,KS,128,415,No,Yes,25,265.1,110,45.07,197.4,...,244.7,91,11.01,10.0,3,2.70,1,0,75.56,59.647962
1,OH,107,415,No,Yes,26,161.6,123,27.47,195.5,...,254.4,103,11.45,13.7,3,3.70,1,0,59.24,46.370695
2,NJ,137,415,No,No,0,243.4,114,41.38,121.2,...,162.6,104,7.32,12.2,5,3.29,0,0,62.29,66.431209
3,OH,84,408,Yes,No,0,299.4,71,50.90,61.9,...,196.9,89,8.86,6.6,7,1.78,2,0,66.80,76.197605
4,OK,75,415,Yes,No,0,166.7,113,28.34,148.3,...,186.9,121,8.41,10.1,3,2.73,3,0,52.09,54.405836
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3328,AZ,192,415,No,Yes,36,156.2,77,26.55,215.5,...,279.1,83,12.56,9.9,6,2.67,2,0,60.10,44.176373
3329,WV,68,415,No,No,0,231.1,57,39.29,153.4,...,191.3,123,8.61,9.6,4,2.59,3,0,63.53,61.844798
3330,RI,28,510,No,No,0,180.8,109,30.74,288.8,...,191.9,91,8.64,14.1,6,3.81,2,0,67.74,45.379392
3331,CT,184,510,Yes,No,0,213.8,105,36.35,159.6,...,139.2,137,6.26,5.0,10,1.35,2,0,57.53,63.184426
3332,TN,74,415,No,Yes,25,234.4,113,39.85,265.9,...,241.4,77,10.86,13.7,4,3.70,0,0,77.01,51.746526

#### 7. Day charge percentage and state visualization

#### 7.1 Import matplotlib.pyplot and referred the package as plt <span style= color:#0033cc>(2 points)</span>

In [22]:
pip install matplotlib
import matplotlib.pyplot as plt

SyntaxError: invalid syntax (4111516058.py, line 1)

#### 7.2 create new string list with the name 'my_color' that contains the following colors names: red,green,orange,blue,yellow <span style= color:#0033cc>(4 points)</span>

In [23]:
my_color = ['red', 'green', 'orange', 'blue', 'yellow']
my_color

['red', 'green', 'orange', 'blue', 'yellow']

#### 7.3 Bar chart plot <span style= color:#0033cc>(10 points)</span>

1.Select first 5 rows of the dataframe (use df.iloc[])

2.Use <span style= color:blue>df.plot</span> function with kind='bar' and x='State' and y='Day_charge_pct' and color = my_colors to make a simple bar chart plot (of the day chart %).

3.Use <span style= color:blue>plt.xlabel("State Code")</span> and <span style= color:blue>plt.ylabel("Day Charge %")</span> to label the corresponding axes

In [24]:
first_5 = df.iloc[:5]
first_5
first_5.plot(kind='bar', x='State', y='Day_charge_pct', color=my_color)
first_5
plt.xlabel("State Code")
plt.ylabel("Day Charge %")
plt.show()

ImportError: matplotlib is required for plotting when the default backend "matplotlib" is selected.